.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background: rgb(53, 41, 41);
  color: #fff;
  height: 70px;
}

.pages {
  display: flex;
  list-style: none;
  color: #fff;
}

.pages li {
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #fff;
}

.pages li Link {
  font-size: 3rem;
}

.pages li .item {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
