* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 510px;
  height: 510px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 20px rgba(116, 114, 114, 0.2);
  overflow: hidden;
  background: rgb(243, 240, 240);
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.left,
.right {
  margin: 5px 5px;
}

.remain,
.booking {
  font-size: 1.5rem;
}

.point {
  font-size: 2rem;
}

tr,
td {
  background: rgb(252, 118, 23);
}

td:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1),
    8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);

  transform: scale(1.1) translateY(-0.2rem);
  background-color: #fa6520;
}

table {
  background-color: #f86312;
}
