.card {
  max-width: 400px;
  height: fit-content;
  width: fit-content;
  border: 10px solid #000;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
}

.cardEle {
  width: 40px;
  height: 40px;
  background: #000;
  margin: 2px;
}

span:nth-child(odd) {
  background: rgb(0, 0, 0);
}

span:nth-child(even) {
  background: rgb(255, 255, 255);
}
