.card-main {
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card .item img {
  width: 200px;
  margin: 1rem;
  align-self: center;
}

.card .item {
  list-style: none;
  width: 300px;
  height: auto;
}
